<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>An Example Title</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>This site was accessed at <%= Date %></p>
    <p>You are visitor #<%= Visit %></p>
    <p>It has been <%= time %> seconds since your last visit. </p>

  </body>
</html>